.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/

._container {
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15vw;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

._block-title {
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  line-height: 110%;
  color: var(--blue);
}

._block-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.13vw;
  line-height: 160%;
}

._btn {
  font-style: normal;
  font-weight: 800;
  font-size: 1.13vw;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  justify-content: space-around;
}

._title {
  font-style: normal;
  font-weight: bold;
  font-size: 2.50vw;
  line-height: 130%;
  align-items: center;
  color: var(--blue);
}

._text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.13vw;
  line-height: 160%;
}

._c-title {
  ont-style: normal;
  font-weight: normal;
  font-size: 1.50vw;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: var(--blue);
}

._c-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 160%;
}

/*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/

.page {}

.page__main-block {}

.page__storage {
  margin-top: var(--block-m);
}

.page__features {
  margin-top: var(--block-m);
}

.page__testimonials {
  margin-top: var(--block-m);
  margin-bottom: var(--block-m);
}

/*----------------------------------------------------------------------------------------*/
/*-------------HEADER---------------------------------------------------------------------*/

.header {
  width: 100%;
  z-index: 50;
}

.header__container {
  height: 6.06vw;
  display: flex;
  align-items: end;
}

.header__logo {
  margin-right: 7.56vw;
}

.header__logo--image {
  width: 3.06vw;
  min-width: 30px;
}

.header__menu {}

.menu {}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {}

.menu__item:not(:last-child) {
  margin: 0 2.5vw 0 0;
}

.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 160%;
  color: var(--grey);
}


@media screen and (min-width: 320px) and (max-width: 600px) {

  ._container {
    padding: 0 7vw;
  }

  .header__container {
    height: 12vw;

  }

  .menu__item:not(:last-child) {
    margin: 0 3vw 0 0;
  }

  .header__logo {
    margin-right: 7vw;
  }

  .menu__link {
    font-size: calc((100vw - 320px)/(600 - 320) * (12 - 9) + 9px);
  }

}

/*----------------------------------------------------------------------------------------*/
/*-------------MINE BLOCK-----------------------------------------------------------------*/

.main-block {
  position: relative;
}

.main-block__container {
  padding-top: 8.94vw;

}

.main-block__body {
  position: relative;
  min-width: 645px;
  z-index: 3;
}

.main-block__title {
  width: 40.31vw;
}

.main-block__text {
  margin-top: var(--m-top);
  width: 23.75vw;
}

.main-block__cover {
  position: absolute;
  bottom: -6.25vw;
  left: 37.69vw;
  width: 55.31vw;
}

.main-block__button {
  background: var(--purple);
  width: 10.63vw;
  min-width: 50px;
  height: 3.75vw;
  min-height: 18px;
  border-radius: 50px;
  margin-top: var(--m-top);
}


@media screen and (min-width: 320px) and (max-width: 600px) {

  :root {
    --m-top: 3.2vw;
  }

  .main-block__container {
    padding-top: 8.94vw;
  }

  .main-block__title {
    font-size: calc((100vw - 320px)/(600 - 320) * (32 - 22) + 22px);
    min-width: 200px;
  }

  .main-block__text {
    font-size: calc((100vw - 320px)/(600 - 320) * (8 - 6) + 6px);
    width: 33.33vw;
    min-width: 120px;
  }

  ._btn {
    font-size: calc((100vw - 320px)/(600 - 320) * (8 - 6) + 6px);
  }
}


/*----------------------------------------------------------------------------------------*/
/*-------------STORAGE--------------------------------------------------------------------*/


.storage {
  position: relative;
  margin-top: 12.44vw;
}

.storage__container {
}

.storage__body {
  padding-right: 4vw;
  position: relative;
  display: flex;
  background: rgba(240, 99, 184, 0.15);
  border-radius: var(--m-top);
  align-items: center;
}

.storage__item {
  margin: 2vw 4vw 2vw 1vw;
  width: 29.31vw;
  min-width: 120px;
}

.storage__info {
  width: 29.69vw;
  min-width: 115px;
}

.storage__title {
  margin-bottom: 2.5vw;

}

.storage__text {}


@media screen and (min-width: 320px) and (max-width: 600px) {

  .storage__item {
    width: 40vw;
    min-width: 120px;
  }

  .storage__info {
    width: 35vw;
  }


  .storage__title {
    font-size: calc((100vw - 320px)/(600 - 320) * (16 - 12) + 12px);
    
  }

  .storage__text {
    font-size: calc((100vw - 320px)/(600 - 320) * (8 - 6) + 6px);
    width: 33.33vw;
    min-width: 120px;
  }

}

/*----------------------------------------------------------------------------------------*/
/*-------------FEATURES--------------------------------------------------------------------*/

.features {}

.features__container {}

.features__header {
  text-align: center;
  width: 36.50vw;
  margin: 0 auto;
}

.features__title {}

.features__text {
  margin-top: var(--m-top);
}

.features__body {
  margin-top: 6.25vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.81vw;
  row-gap: var(--m-top);
}

.features__card {
  width: 33.19vw;
  height: 22.38vw;
  position: relative;
}

.card__container::after {
  background-image: linear-gradient(to left, #11de93, #0e7ad6);
}

.card {}

.card__container {
  display: flex;
}

.card__item {
  margin: 4.56vw 1.44vw 0 0;
  width: 14.50vw;
  height: auto;
}

.card__body {
  width: 13.75vw;
}

.card__body--container {}

.card__background {
  position: absolute;
  bottom: 0;
  margin: 0 0 0 5.25vw;
  width: 27.63vw;
}

.card__title {
  margin-top: var(--m-top);
}


.card__text {
  margin-top: 1.25vw;
}

.card__button {
  margin-top: 20px;
  position: absolute;
  bottom: 2.06vw;
}

.card ._btn {
  color: var(--blue);
}

.card__button--item {
  width: 1.25vw;
  margin-left: 1.25vw;
}

@media screen and (min-width: 320px) and (max-width: 600px) {

  .features__title {
    font-size: calc((100vw - 320px)/(600 - 320) * (16 - 12) + 12px);
  }

  .features__text {
    font-size: calc((100vw - 320px)/(600 - 320) * (11 - 7.5) + 7.5px);
  }

  .features__header {
    width: 50vw;
  }

  .features__body {
    display: block;
  }

  .features__card {
    width: 60vw;
    height: 35vw;
    margin: 25px auto;
  }

  .card__background {
    width: 45vw;
    height: 35vw;
    margin-left: 56px;
  }

  .card__item {
    margin: 7.56vw 2.44vw 0 0;
    width: 26vw;
    height: auto;
  }

  .card__container {
    width: 50vw;
    height: 30vw;
  }

  .card__body {
    width: 25vw;
    min-width: 100px;
  }

  .card__text {
    font-size: calc((100vw - 320px)/(600 - 320) * (10 - 6.5) + 6.5px);
  }

  .card__title {
    font-size: calc((100vw - 320px)/(600 - 320) * (18 - 12) + 12px);
  }

  .card__button--item {
    width: 2.25vw;
    margin-left: 2.25vw;
  }

  .card ._btn {
    font-size: calc((100vw - 320px)/(600 - 320) * (10 - 6) + 6px);
    bottom: 2.56vw;
    ;
  }
}

/*----------------------------------------------------------------------------------------*/
/*-------------testimonials---------------------------------------------------------------*/


.testimonials__container {
  position: relative;
}

.testimonials__body {
  height: 44.31vw;
  position: relative;
  background: var(--purple);
  border-radius: var(--m-top);
  padding: 6.81vw 0 0 5.81vw;
}

.testimonials__title {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 130%;
  color: #FFFFFF;
}

.testimonials__slider {
  margin-top: 5.50vw;
}

.slider {}

.slider__container {}

.slider__container--gradient{
  z-index: 5;
  position: absolute;
  left: 47vw;
  background: linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%);
  width: 40vw;
  height: 21.9vw;
  border-radius: 1.25vw;
}

.slider__list {
  display: flex;
}

.slider__column {
  margin: 0 1.25vw 3.3vw 0px;
  flex-shrink: 0;
  display: flex;
}

.slider__column:not(:first-child) {
  width: 25vw;
  overflow: hidden;
  min-width: 170px;
}

.column {
  width: 40.31vw;
  height: 20.63vw;
  background: #fff;
  box-shadow: 0px 1.25vw 0px rgba(105, 71, 153, 0.3);
  border-radius: 1.25vw;
  padding-left: 4.38vw;
  border: 1px solid var(--purple);
}

.column:not(:first-child) {
  padding-left: 2.2vw;
}

.column__item {
  width: 5.63vw;
  height: 5.63vw;
  margin: 3.75vw 0 0 0;
  min-width: 30px;
  min-height: 30px;
  position: absolute;
}


.column__body {
  margin-left: 7.88vw;
  padding-top: 5vw;
  width: 24vw;
}

.column__title {
  font-style: normal;
  font-weight: 800;
  font-size: 1.13vw;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  color: var(--blue);
}

.column__comment {
  font-style: normal;
  font-weight: 500;
  font-size: 0.88vw;
  line-height: 160%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: var(--purple);
}

.column__text {
  margin: 1.19vw 0 0 0;

  font-style: normal;
  font-weight: normal;
  font-size: 1.13vw;
  line-height: 180%;
}

.testimonials__slider--control {
  bottom: 3.75vw;
  display: flex;
  position: absolute;
  bottom: 2.5vw;  
  height: 1vw;
}

.testimonials__slider--indicators {
  display: flex;
  align-items: center;


}

.testimonials__slider--indicator:not(:first-child) {
  width: 0.31vw;
  height: 0.31vw;
  border-radius: 50%;
  background: #fff;
  margin-left: 10px;
}

.testimonials__slider--indicator:first-child {
  width: 0.63vw;
  height: 0.63vw;
  border-radius: 50%;
  background: var(--pink);
}

.testimonials__slider--buttons {
  margin-left: 45vw;
  width: 6vw;
}

.slider__button {
}

.slider__button--img {
  width: 2.50vw;
}

.slider__button--imgl {
  width: 1.25vw;
}

.slider__button:not(:last-child) {
  margin-right: 1.25vw;
}

@media screen and (min-width: 320px) and (max-width: 600px) {

  .testimonials__slider {
    margin-top: 2.5vw;
  }

  .slider__container--gradient{
    z-index: 5;
    position: absolute;
    left: 65vw;
    background: linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%);
    width: 40vw;
    height: 26.3vw;
  }

  .column {
    padding: 2vw 0;
    width: 53vw;
    height: 25vw;
    padding-left: 4.38vw;
  }

  .slider__column:not(:first-child) {
    width: 30vw;
    overflow: hidden;
    min-width: 95px;
  }

  .column__item {
    width: 5.63vw;
    height: 5.63vw;
    margin: 3.75vw 1.88vw 0 0;
    min-width: 55px;
    min-height: 55px;
  }

  .column__body {
    padding-top: 1vw;
    width: 40vw;
  }

  .column__item {
    width: 5.63vw;
    height: 5.63vw;
    min-width: 20px;
    min-height: 20px;
  }

  .column__title {
    margin-bottom: 0.5vw;
    font-size: calc((100vw - 320px)/(600 - 320) * (14 - 10) + 10px);
  }

  .column__comment{
    font-size: calc((100vw - 320px)/(600 - 320) * (8 - 5) + 5px);
  }

  .column__text {
    font-size: calc((100vw - 320px)/(600 - 320) * (10 - 5.5) + 5.5px);
    margin-top: 0.7vw;
  }
  .testimonials__slider--buttons {
    margin-left: 55vw;
    width: 12vw;
  }

  .slider__button--img {
    width: 3.5vw;
  }
  
  .slider__button--imgl {
    width: 2vw;
  }
}

/*-----------------------------------------------------------------------------------------------------------*/

/*----------FOOTER-------------------------------------------------------------------------------------------*/

footer{
  border-top: 2px solid #9C69E230;
}

.footer__container {
  display: flex;
  padding-top: 10.13vw ;
}

.footer__body {
  width: 20.94vw;
  margin-right: 35vw;
}

.footer__logo {
  width: var(--m-top);
  margin: 0 1.25vw 3.94vw 0;
}

.footer__body--title{
  display: flex;
}

.footer__title {
  font-style: normal;
  font-weight: 900;
  font-size: 1.25vw;
  line-height: 160%;
  color: var(--blue);
}

.footer__address {
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: var(--blue);
  margin-bottom: 0.63vw;
}

.footer__contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 180%;
  letter-spacing: 0.01em;
  color: var(--blue);
  margin-bottom: 2.25vw;
}

.footer__reserved {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75vw;
  line-height: 180%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: var(--blue);
  margin-bottom: 4.06vw;
}

.footer__media {}

.footer__media--title {
  font-style: normal;
  font-weight: 800;
  font-size: 1vw;
  line-height: 160%;
  color: #212353;
}

.footer__media--container {
  display: flex;
  margin-top: 1.81vw;
}

.footer__media--imgc{
}

.footer__media--image {
 width: var(--m-top);
 margin-right: 0.88vw;
}

@media screen and (min-width: 320px) and (max-width: 600px) {

  .footer__body--title{
    display: flex;
  }
  
  .footer__title {
    font-size: 2vw;
  }
  
  .footer__address {
    font-size: 1.3vw;
  }
  
  .footer__contacts {
    font-size: 1.3vw;
  }
  
  .footer__reserved {
    font-size: 1.2vw;
  }
  
  .footer__media--title {
    font-size: 1.25vw;
  }
}
